body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #2563eb, #1cb5e0);
  color: white;
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
section {
  background: rgba(0,0,0,0.3);
  margin: 20px 0;
  padding: 15px;
  border-radius: 12px;
}
input, button, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}
button {
  background-color: #ffffff;
  color: #2563eb;
  font-weight: bold;
  cursor: pointer;
}
li {
  background-color: rgba(255,255,255,0.2);
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}
.completed {
  text-decoration: line-through;
  color: #ccc;
}
a { color: #fff; text-decoration: underline; }